.DS_Store
node_modules/
.env
.env*.local
.env.development
.env.production
.env*
!.env.local.example
*.log

# next.js
/.next/
/out/
next-env.d.ts

# testing
/coverage

# production
/build

# vercel
.vercel

# typescript
*.tsbuildinfo
